body {
    background: #FFF;
    margin: 0;
    padding: 0;
}
.text-blue {
    color: $brand-blue;
}
.bg-blue {
    background: $brand-blue;
}
.bg-dark {
    background: $gray-base;
    color: #FFF;
}