.newsletter {
    background: $gray-lighter;
    border-bottom: $gray-base 1px solid;
    color: $gray-base;
    padding-bottom: 5px;
    padding-top: 5px;
    form.form-inline {
        input[type=email] {
            margin: 0 0 0 5px;
        }
        input[type=submit] {
            border: none;
            padding: 3px 12px;
            vertical-align: top;
        }
    }
}
header {
    position: relative;
    .logo {
        padding-bottom: 40px;
        padding-top: 20px;
    }
    nav {
        padding-bottom: 10px;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
                a {
                    color: $gray-base;
                    font-size: 1.5em;
                    padding: 5px 10px;
                    text-transform: uppercase;
                    &:hover { 
                        color: $brand-primary;
                        text-decoration: none;
                    }
                }
                &:first-child {
                    a {
                        padding-left: 0;
                    }
                }
                ul {
                    display: none;
                }
                &.current-menu-item {
                    a {
                        color: $brand-primary;
                    }
                }
            }
        }
    }
    .search {
        font-size: 1.5em;
        text-align: right;
        span.search-toggle {
            cursor: pointer;
        }
    }
    div.search-box {
        background: darken( $gray-base, 20% );
        left: 0;
        opacity: 0;
        padding-bottom: 20px;
        padding-top: 20px;
        position: absolute;
        width: 100%;
        z-index: 1;

        transition: all 0.5s;
        transform: translateY(50px);
        form {
            input {
                display: inline-block;
                font-size: 3em;
                padding-left: 10px;
                vertical-align: top;
                width: 85%;
            }
            button {
                font-size: 2.5em;
                padding: 7px 30px;
            }
        }
        &.active {
            opacity: 1;
            transform: translateY(0px);
            z-index: 100000;
        }
    }
}